* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

div {
    padding: 4% 10%;
}


/***************Loader*****************/


/**************************************/

@media screen and (min-width: 1281px) {
    #firstDiagonal {
        background-color: #013A6B;
        background-image: -webkit-linear-gradient(65deg, #fafafa 50%, #191919 30%);
        min-height: 115vh;
    }
    #secondDiagonal {
        background-color: #013A6B;
        background-image: -webkit-linear-gradient(-70deg, #fafafa 40%, #191919 10%);
        min-height: 115vh;
    }
    .textDiagonal {
        width: auto;
    }
    .titleDiagonal {
        font-weight: 600;
    }
    #firstText {
        color: #fafafa;
        float: right;
        width: auto;
        text-align: right;
    }
    #secondText {
        padding-top: 45vh;
        color: #191919;
        float: left;
        width: auto;
        text-align: left;
    }
    #thirdText {
        padding-top: 45vh;
        color: #fafafa;
        float: right;
        width: auto;
        text-align: right;
    }
    #footer {
        height: 15vh;
        background-color: #ffc107;
    }
}


/************Navbar*************/

input {
    position: fixed;
    opacity: 0;
}

label {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

label::before {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger {
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 3;
    width: 2em;
    height: 2em;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger::before,
label .burger .bar,
label .burger::after {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 12%;
    background: #ffc107;
    content: '';
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger .bar {
    top: 44%;
}

label .burger::before {
    top: 0;
    transform-origin: top left;
}

label .burger::after {
    bottom: 0;
    transform-origin: bottom left;
}

input:focus+label .burger,
label:hover .burger {
    opacity: .75;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 10%;
    height: flex-flow: column nowrap;
    justify-content: left;
    align-items: flex-start;
    transform: translate3d(0, 0, 0);
    /* material acceleration */
    transform: translateX(-100%);
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

nav::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 25em;
    background: #e91e63;
    content: '';
    transform: skewX(15deg) translateX(-100%);
    transform-origin: bottom left;
    will-change: transform;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media (min-width: 40em) {
    nav::before {
        width: 40em;
    }
}

nav a {
    position: relative;
    float: left;
    margin: 8vh 0 0 2em;
    padding: 1em 2em 0 0;
    font-size: 1.5em;
    color: white;
    text-decoration: none !important;
    font-weight: 500;
    transform: translateX(-100%);
    transition: color .15s, transform .9s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

nav a:nth-child(1) {
    transition-delay: 0s, 100ms;
}

nav a:nth-child(2) {
    transition-delay: 0s, 150ms;
}

nav a:nth-child(3) {
    transition-delay: 0s, 200ms;
}

nav a:nth-child(4) {
    transition-delay: 0s, 250ms;
}

nav a:nth-child(5) {
    transition-delay: 0s, 300ms;
}

nav a:nth-child(6) {
    transition-delay: 0s, 350ms;
}

nav a:hover,
nav a:focus {
    color: #191919;
}

main {
    overflow: hidden;
}

main .content {
    transform: translate3d(0, 0, 0);
    /* material acceleration */
    will-change: transform, filter;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

[id="navcheck"]:checked+label::before {
    opacity: 1;
    pointer-events: auto;
}

[id="navcheck"]:checked+label .burger::before,
[id="navcheck"]:checked+label .burger::after {
    width: 141.42%;
}

[id="navcheck"]:checked+label .burger::before {
    transform: rotate(45deg) translateY(-50%);
}

[id="navcheck"]:checked+label .burger::after {
    transform: rotate(-45deg) translateY(50%);
}

[id="navcheck"]:checked+label .burger .bar {
    transform: scale(0.1);
}

[id="navcheck"]:checked~nav {
    transform: translateX(0);
}

[id="navcheck"]:checked~nav::before {
    transform: skewX(15deg) translateX(0);
}

[id="navcheck"]:checked~nav a {
    transform: translateX(0);
}

[id="navcheck"]:checked~main .content {
    transform: translateX(3em);
    transform-origin: left center;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}


/* helper */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/***********************************/
